

.rh-footer {
    padding: 0;
    background: #f8f8f8;
    color: #aaa;

    .container {
        max-width: 1270px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer-sidebar {
        padding-right: 50px;
        padding-left: 50px;
    }

    img {
        margin-bottom: 10px;
        width: 44px;
        height: 44px;
        -webkit-filter: url(#logoGray);
        filter: url(#logoGray);
    }

    p:last-child {
        margin-bottom: 0;
    }
}

@media ( max-width: 800px ) {
    .rh-footer {
        .col-lg-4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

@media ( max-width: 680px ) {
    .rh-footer {
        padding: 0;

        .col-lg-4 {
            padding-right: 20px;
            padding-left: 20px;
            max-width: 100%;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        }

        .container {
            padding: 0 20%;

            > .footer-sidebar {
                padding: 20px;
            }
        }
    }
}

@media ( max-width: 620px ) {
    .rh-footer {
        .container {
            > div {
                margin-bottom: 0;
                margin-top: 2rem;
            }

            > .footer-sidebar {
                margin-bottom: 0;
                padding: 0;
            }
        }
    }
}

@media ( max-width: 480px ) {
    .rh-footer {
        .container {
            padding: 0 5%;
        }

        .widget {
            font-size: 1.2rem !important;
            margin-bottom: 4rem;

            &:only-of-type {
                margin-bottom: 4rem;
            }
        }
    }
}