$body-bg: #f8f8f8;
$body-fg: #444444;
$sect-bg: #ffffff;

$accent-blue: #039be5;
$accent-red: #c62641;

$accent-blue-green: linear-gradient( to right top, #006bc9, #008ecc, #00b0cc, #00ccc5, #00b593 );
$accent-blue-green-text: #00b0cc;